<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/position-relative.css">
        <title> Position Relative </title>
    </head>
    <body>
        <header>
            <h1> Position Relative </h1>
        </header>

        <main>
            <article>
               <p> I am a basic block level element. My adjacent block level elements sit on new lines below me. </p>
               <p class="relative"> Position relative with top: 15px and left: 50px </p>
               <p> I am a basic block level element. My adjacent block level elements sit on new lines below me. </p>
               <p> I am a basic block level element. My adjacent block level elements sit on new lines below me. </p>
               <p> I am a basic block level element. My adjacent block level elements sit on new lines below me. </p>
            </article>
        </main>
    </body>
</html>