
html {
    font-size: 1em;
}

h1 {
    /* responsive typography */
    /* font-size: 2rem; */
    /* font-size: 6vw;  viewport unit */
    font-size: calc(1.5rem + 3vw);
}

.container {
    padding: 1rem;
    background-color: blue;
    color: white;
}

@media screen and (min-width: 800px) {
    .container {
        margin: 1em 2em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

/* responsive by default:: multicol, flexbox, grid */