<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/media-queries.css">
        <title> Media Queries </title>
    </head>
    <body>
        <header>
            <h1> Media Queries </h1>
        </header>

        <main>
            <article>
               <p> Some text here! </p>

               <p class="available"> Available only on some conditions </p>
            </article>
        </main>
    </body>
</html>