
/* ------ Type, class and ID ------ */

* { /* universal selector */
    /* margin: 0; */
}

p { /* by tag / type */
    background-color: #e9e9e9;
}

.special { /* by class */
    background-color: lawngreen;
    font-style: italic;
    padding: 3px;
}

#myStrong { /* by Id */
    font-weight: bold;
    margin: 0 3px;
}

.notebook {
    border: 4px solid #666;
    padding: 0.5rem;
}

.notebook.warning { /* multiple classes */
    border-color: orange;
    font-weight: bold;
}

.notebook.danger { 
    border-color: red;
    font-weight: bolder;
}

/* ------ Attribute selectors ------ */

li[class] { /* any selector with class */
    font-size: 200%;
}

li[class="a"] { /* when class equals to 'a' */
    background-color: yellow;
}

li[class~="a"] { /* when class contains 'a' */
    color: red;
}

div[class^="box"] { /* class begins with 'box' */
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #ccc;
}

div[class$="-box"] { /* class ends with 'box' */
    background-color: darkred;
}

div[class*="blue" i] { /* class contains 'blue' with case insensitivity */
    background-color: deepskyblue;
}